
<%= form_for @advertise, :url => { :controller => 'advertises', :action => 'create' } do |f| %>
     <table >
        <tr>
    <td><%= f.label :name, "Title" %></td>
   <td> <%= f.text_field :title %></td></tr>
    <td> <%= f.label :name, "Content" %>  </td>
     <td><%= f.text_area :content %> </td>
    <td> <%= f.label :name, "start_date_time" %> </td>
    <td><%= f.text_field :start_date_time %> </td>
 <td>   <%= f.label :name, ":end_date_time" %> </td>
   <td> <%= f.text_field :end_date_time %> </td>
    <td><%= f.label :name, ":location" %> </td>
    <td><%= f.select :location, options_for_select(['home', 'taipei']) %> </td>
    <td><%= f.label :name, "Maxnumber" %> </td>
   
    </tr>

    <%= f.submit "Create" %>
    </table>
<% end %>
