<nav class="navbar navbar-left navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
   

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li> <%= link_to("advertiser", :controller => 'advertisers', :action => 'index') %> </li></br>
        <ul class="nav navbar-nav navbar-left">
        <li> <%= link_to("advertise",:controller => 'advertises', :action => 'index') %> </li></br>
          <ul class="nav navbar-nav navbar-left">
        <li> <%= link_to("advocate",:controller => 'advocates', :action => 'index') %> </li></br>
         <ul class="nav navbar-nav navbar-left">
        <li> <%= link_to("information",:controller => 'informations', :action => 'index') %> </li></br>
         <ul class="nav navbar-nav navbar-left">
        <li> <%= link_to("task",:controller => 'tasks', :action => 'index') %> </li></br>
    </ul>
    
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

   
  
