<!DOCTYPE html>
<html>
<head>
  <title>MobileAd</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">The Idea app</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <p class="navbar-text pull-right">O
 	<% if advertiser_signed_in? %>  
  		<%= link_to 'Edit profile', edit_advertiser_registration_path, :class => 'navbar-link' %> |
  		<%= link_to "Logout", destroy_advertiser_session_path, method: :delete, :class => 'navbar-link'  %>
	<% else %>
  		<%= link_to "Sign up", new_advertiser_registration_path, :class => 'navbar-link'  %> |
  		<%= link_to "Login", new_advertiser_session_path, :class => 'navbar-link'  %>
	<% end %>
         </p>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <%= yield %>
  <footer>
  <div class="container">
    Rails Girls Taipei 2015
  </div>
</footer>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</div>

</body>
</html>
